body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition: background-color 0.5s;
}


#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation: 10s infinite alternate box2move;
}

@keyframes box2move{
from{
    margin-left: 0%;
}


25%{
    margin-left: 25%;
    margin-bottom: 40%;
}

to{
    margin-left: 20%;
    margin-top: 50%;
}
}

#box1:hover{
    background-color: purple;
}