body{
    padding: 0;
    margin: 0;
    background-image: url("/img/lebron.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}


.spectrum{
    size: 85%;
    max-width: 150px;
    position: absolute;
}


.scoreboard{
    size: 50%;
    max-width:200px;
    position: absolute;
    left: 1215px;
    top: 765px;
}