body{
  margin: 0;
  padding: 0;
  background-image: url("lebron.jpg");  
  background-size: cover;
  background-position: center;
}

.game-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.broadcast-overlay{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
    background: url("Spectrum.jpeg");
}

.scoreboard-overlay{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
    background: url("scoreboard.jpeg");
}