body{
    padding: 0;
    margin: 0;
    background-image: url("/img/lebron.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}


.spectrum{
    size: 85%;
    max-width: 300px;
    position: absolute;
}


.scoreboard2{
    size: 50%;
    max-width:500px;
    position: absolute;
    left: 475px;
    top: 690px;
}