body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
}
nav{
    border-radius: 20px;
    height: 50vh;
    padding: 35px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: green;
    transition: color .5s ease-in-out;
}

nav:hover{
    background-color: white;
}


nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:purple;
    transition: color .1s ease-in-out;
    font-size: 25px;
}

nav a:hover{
    font-size: 40px;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


img{
    width:30vw;
    height: 30vh;
}

img:hover{
    width: 60vw;
    height: 60vh;
}

#purple-ball{
    background-color: purple;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    animation: ballmove 1s ease-in-out 1s alternate;
    animation-iteration-count: infinite;
}

@keyframes ballmove{
    0%{right:80%}
    50%{top:60%}
    100%{left:90%}
}


#header{
    color: green;
    padding: 10px;
    transition: color .5s ease-in-out;
    font-size: 30px;
    -webkit-text-stroke: 4px purple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header:hover{
    color: white;
}