body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
}
nav{
    border-radius: 20px;
    height: 50vh;
    padding: 35px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: green;
    transition: color .5s ease-in-out;
}

nav:hover{
    background-color: white;
}


nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:purple;
    transition: color .1s ease-in-out;
    font-size: 25px;
}

nav a:hover{
    font-size: 40px;
    color: green;
}


img{
    width:30vw;
    height: 30vh;
}

#red-ball{
    background-color: crimson;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
}

#header{
    color: green;
    padding: 10px;
    transition: color .5s ease-in-out;
    font-size: 30px;
    -webkit-text-stroke: 4px purple;
}

#header:hover{
    color: white;
}