body{
    background-color: khaki;
}


nav {
    background-color: green;
    padding: .7em;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    border-radius: 10px;
    z-index: 2;
}
  
nav ul {
    margin: 20;
    padding: 0;
    display:flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-around;
    list-style: none();
}

nav a {
    color: black;
    text-decoration: none;
    padding: .5em 1em;
    font-size: 25px;
}

nav li :hover{
    background-color: yellowgreen;
    font-size: 40px;
}


.Name{
    text-align: center;
    font-family: cursive;
    color: green;
    font-size: 30px;
}

.Name:hover{
    color: yellowgreen;
}



#headshot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    top:0;
    left: 0;
    position: relative;
  }
  
  #headshot img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
    height: 600px;
    width: 600px;
  }

  
  #headshot #top {
    opacity: 0;
  }
  
  #headshot:hover #top {
    opacity: 1;
  }


  #headshot:hover #bottom {
    opacity: 1;
  }


  #about{
    width: 40em;      
    background-color: yellowgreen;       
    border: 5px solid black;      
    padding: 20px;      
    word-wrap: break-word;      
    font-size: 20px;   
  }

  #LosAngeles img{
    right: 15px;
    top: 260px;
    position: absolute;
    z-index: -999;
  }


  .art-grid{
    --gap: 16px;
    --num-cols: 4;
    --row-height:300px;

    box-sizing: border-box;
    padding: var(--gap);

    display:grid;
    grid-template-columns: repeat(var(--num-cols),1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
  }

  .art-grid > img{
    width:100%;
    height: 100%;
    object-fit: cover;
  }

  .art-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 0;
  }
  
  .art-grid > img:hover {
    transform: scale(2);
    z-index: 1;
  }
  
  @media screen and (max-width: 1024px) {
    .art-grid{
        --num-cols:2;
        --row-height: 200px;
    }
  }


  #linkedin img{
    right: 15px;
    top: -1450px;
    position: relative;
    z-index: 1;
    width: 100px;
    left: 550px;
  }




  #contactinfo{
    width: 20em;      
    background-color: yellowgreen;       
    border: 5px solid black;      
    padding: 20px;      
    word-wrap: break-word;      
    font-size: 20px;
    margin:0 auto;
    
  }



  @media screen and (max-width: 1024px) {
    nav a {
    font-size: 15px;
    }
    }

    @media screen and (max-width: 1024px){
      #headshot {
      height: 300px;
      width: 300px;
      }
    }



      @media screen and (max-width: 1024px) {
        #contactinfo {
        width: 80%;
        margin: 0 auto;
        }
        }



        @media only screen and (max-width: 1024px){
          #resume img{
            max-width: 100%;
          }
        }



        @media only screen and (max-width: 1024px){
          #LosAngeles img{
            top: 1162px;
            left: 10px;
            max-width: 100%;
            
          }
        }


        @media only screen and (max-width: 1024px){
          #about{
            width: 22.9em;
          }
        }


        @media only screen and (max-width:1024px){
          nav ul{
            list-style: none;
          }
        }







